MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.example.mongodb.net/kanakmouldings?retryWrites=true&w=majority
MONGODB_DB=kanakmouldings
ADMIN_PASSWORD=change-this-password
ADMIN_SESSION_SECRET=change-this-long-random-secret
RESEND_API_KEY=re_xxxxxxxxx
RESEND_FROM_EMAIL=Kanak Mouldings <enquiries@send.your-domain.com>
RESEND_TO_EMAIL=admin@kanakmoulding.com
TAWK_TO_PROPERTY_ID=6a9696d6ae99ab3446f88a5e
TAWK_TO_WIDGET_ID=1k1e3qe8u
NEXT_PUBLIC_CDN_URL=
NEXT_ASSET_PREFIX=
